h1 {
  margin: 0;
  padding: 10px;
  background: #c8a2c8;
}

.index1 {
  position: relative;
  background: #c8c8c8;
  top: 10px;
  z-index: 0;
}

.index2 {
  position: relative;
  background: #a2c8a2;
  top: 10px;
  z-index: 01;
}
