div {
  border: 2px solid #e7e;
  padding: 40px 40px 40px 40px;
  margin-top: 40px;
  position: relative;
}

span {
  background: #e7e;
  padding: 10px;
  border: 1px solid #e7e;
  position: absolute;
  top: 10px;
}
